.cursor {
  cursor: pointer;
}

.lowerPart {
  margin-top: 2%;
}

.float-right {
  float: right;
}

.list-group-item {
  margin-bottom: 0px;
}



/*li:nth-child(4) {*/
/*  border-bottom:3px solid #ddd;*/
/*}*/

tt. {
  color: #ecaeae;
}
.red {
  color: red;
}
.green {
  color: green;
}
