.cursor {
  cursor: pointer;
}

.lowerPart {
  margin-top: 2%;
}

.float-right {
  float: right;
}

.list-group-item {
  margin-bottom: 0px;

}


li:nth-child(2) {
  border-bottom:3px solid #ddd;
}


.red {
  color: red;
}
.green {
  color: green;
}
