@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);


.wrapper {
  background: url("https://i.stack.imgur.com/cGIFX.jpg");
  color: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
  100%{
    background-position:0px -3000px;
  }
}




.bgLeft {

  background-image: linear-gradient(to right, black , white);


}
.bgRight {

  background-image: linear-gradient(to right, white , black);


}

.fullHeight {
  height: 100%;
  max-height: 100%;
  overflow: auto;

}

.myContainer {
  width: 100%;
}
