.bgLeft {

  background-image: linear-gradient(to right, black , white);


}
.bgRight {

  background-image: linear-gradient(to right, white , black);


}

.fullHeight {
  height: 100%;
  max-height: 100%;
  overflow: auto;

}

.myContainer {
  width: 100%;
}
