.float-right {
  float: right;
}

.bold {
  font-weight: bold;
}

.list-group-item {
  margin-bottom: 0px;
}
li:first-child {
  border-top:3px solid #ddd;
}

li:last-child {
  border-bottom:3px solid #ddd;
}

.round {
  font-size: 14px;
  padding: 2px 6px;
  margin-bottom: 0;
  border-radius: 10%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.attempt {
  margin-left: 5%;
}
